include *.js
include *.json
include *.txt
include *.yaml
include .editorconfig
include LICENSE
recursive-include x_net_django_email_template *.css
recursive-include x_net_django_email_template *.html
recursive-include x_net_django_email_template *.json
recursive-include x_net_django_email_template *.map
recursive-include x_net_django_email_template *.png
recursive-include x_net_django_email_template *.po
recursive-include x_net_django_email_template *.scss
