/* -----------------------------------------------------------------------------
  CONTAINER
*/

body {
  background: $email-body-bg-color;
}

table {
  &.body {
    background: $email-body-bg-color;
    height: 100%;
    min-width: rem(320) !important;
    width: 100%;
  }

  &.container {
    background: $email-container-bg-color;
    max-width: rem($email-container-width);
    text-align: inherit;
    width: 100%;
    @include fallback_unit("margin-left", auto);
    @include fallback_unit("margin-right", auto);
  }
}
