/* -----------------------------------------------------------------------------
  COLORS
*/

@import "project.json";

$brand-1: #EE7F01 !default;
$brand-2: #006893 !default;

$email-primary: $brand-1;
$email-secondary: $brand-2;

/* -----------------------------------------------------------------------------
  BODY / CONTAINER
*/

$email-body-bg-color: #F8F8F8 !default;
$email-container-bg-color: #FFFFFF !default;

$email-container-width: 600 !default;

/* -----------------------------------------------------------------------------
  TYPOGRAPHY
*/

$email-font-family: Ubuntu, Arial, sans-serif !default;
$email-font-size: 16 !default;
$email-font-size-small: 12 !default;
$email-font-color:  #212529 !default;
$email-font-weight: normal !default;
$email-line-height: 140% !default;

$email-h1-font-size: 16 !default;
$email-h1-color: $email-primary !default;
$email-h1-line-height: 120% !default;
$email-h1-margin-bottom: 0 !default;

$email-h2-font-size: 20 !default;
$email-h2-color: $email-font-color !default;
$email-h2-line-height: $email-line-height !default;
$email-h2-margin-bottom: 20 !default;

$email-h3-font-size: 18 !default;
$email-h3-color: $email-primary !default;
$email-h3-line-height: $email-line-height !default;
$email-h3-margin-bottom: 20 !default;

$email-h4-font-size: 18 !default;
$email-h4-color: $email-font-color !default;
$email-h4-line-height: 120% !default;
$email-h4-margin-bottom: 5 !default;

$email-h5-font-size: 16 !default;
$email-h5-color: $email-font-color !default;
$email-h5-line-height: 120% !default;
$email-h5-margin-bottom: 5 !default;

$email-paragraph-margin-bottom: 20 !default;
$email-paragraph-line-height: $email-line-height !default;

$email-heading-font-family: $email-font-family !default;
$email-heading-font-weight: bold !default;

$email-anchor-color: $email-primary !default;
$email-anchor-hover-color: darken($email-anchor-color, 10%) !default;
$email-anchor-active-color: $email-anchor-color !default;
$email-anchor-visited-color: $email-anchor-color !default;
$email-anchor-text-decoration: underline !default;

/* -----------------------------------------------------------------------------
  GRID
*/

$email-grid-gutter: 25 !default;

/* -----------------------------------------------------------------------------
  BREAKPOINTS
*/

$email-breakpoint: $email-container-width + $email-grid-gutter !default;

/* -----------------------------------------------------------------------------
  COMPONENTS
*/

// Button
$email-button-font-weight: bold !default;
$email-button-bg-color: $email-secondary !default;
$email-button-border-color: #FFFFFF !default;
$email-button-color: #FFFFFF !default;
$email-button-margin-bottom: 20 !default;
$email-button-padding: 20 !default;
