/* -----------------------------------------------------------------------------
  HEADER
*/

table {
  &.header-row {
    display: table;
    position: relative;
    width: 100%;

    th.header-column-left {
      vertical-align: bottom;
      @include fallback_unit("padding-bottom", $email-grid-gutter);
      @include fallback_unit("padding-left", $email-grid-gutter);
      @include fallback_unit("padding-right", $email-grid-gutter);
      @include fallback_unit("padding-top", $email-grid-gutter);
    }

    th.header-column-right {
      @include fallback_unit("padding-bottom", $email-grid-gutter);
      @include fallback_unit("padding-left", $email-grid-gutter);
      @include fallback_unit("padding-right", $email-grid-gutter);
      @include fallback_unit("padding-top", $email-grid-gutter);
    }
  }
}
